nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    top: 20px;
    position: relative;
    z-index: 1;
}
header {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}